body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(28, 3fr);
    grid-template-rows: repeat(28, 1fr);
    gap: 2px;
    width: 100vmin;
    height: 100vmin;
    max-width: 800px;
    max-height: 800px;
}
.square {
    border-radius: 2px;
    background-color: rgb(29, 29, 29);
    transition: background-color 0s, background-color 1s ease;
}