 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 20px;
            background-color: black;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            gap: 2px;
            width: 800px;
            height: 800px;
			padding:20px;
        }
        .square {
            background-color: rgb(29, 29, 29);
            transition: background-color 0.3s ease-in, background-color 1s ease-out;
        }